<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}


  {% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
    integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  {% endblock %}

  {% block onload_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
    integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% endblock %}

  {% block_extra_js %}
  {% endblock %}



  <title>KERRY GAA! {% block title %}{% endblock %}</title>
</head>

<body>

  <header class="container-fluid-top"></header>

  {% if messages %}
  <div class="messages-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}


</body>

</html>